<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/mycss/css/user.css" type="text/css">
</head>
<body>
<div>
    <h3>Add User</h3>
    <form action="/user/save" method="post">
        <p>FirstName: <input type="text" name="firstName"></p>
        <p>LastName: <input type="text" name="lastName"></p>
        <p>address: <textarea type="text" name="address"></textarea></p>
        <button type="submit">submit</button>
    </form>
</div>
</body>
</html>